<html>
    <body>
        <div>
            <a href="/api/test">Api Call Test</a>
        </div>
        <form type="POST" action="/auth/submit">
            <ul>
                <li>
                    <div>
                        <p> Log in into the system</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>username: </p>
                        <input id="username" name="username" type="text" />
                    </div>
                </li>
                <li>
                    <div>
                        <p>password: </p>
                        <input id="password" name="password" type="password" />
                    </div>
                </li>
                <li>
                    <div>
                        <input type="submit" value="Submit"/>
                    </div>
                </li>
            </ul>

        </form>

    </body>
</html>